{% extends 'base.html' %}

{% block webTitle%}
Register
{% endblock %}

{% block formTitle %}
Register
{% endblock %}

{% block form %}
<form action="#" method="post">
  <div>
    <div class="row">
      <div class="col-12">
        <input type="text" name="username" placeholder="Username" />
      </div>
      <div class="col-12">
        <input type="text" name="password" placeholder="Password" />
      </div>
      <div class="col-12">
        <input type="password" value="Register" />
      </div>
    </div>
  </div>
</form>

{% endblock %}
